@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

//variables
$main-dark-color: #3D405B;
$main-orange-color: #E07A5F;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-dark-color;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

//CALENDAR STYLES

.fc {
  border: 1px solid #cecece;
  border-radius: 20px !important;
  border-collapse: collapse !important;
  padding-bottom: 25px;
  padding-top: 25px;
}

.fc .fc-toolbar.fc-header-toolbar {
  display: none;
}

.fc .fc-timegrid-slot {
  border-top: 1px solid #cecece;
}

.fc .fc-timegrid-slot-minor {
  background-color: #fff !important;
  border-top: 1px dashed #f1f1f1 !important;
}

.fc .fc-timegrid-slot {
  background-color: #fff !important;
}

.fc .fc-timegrid-slot-label {
  border: none !important;
}

.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion:first-child {
  position: absolute;
  right: calc(100% - 50px);
  margin-top: -24px;
  font-size: 18px;
  font-family: Oswald;
  font-weight: 300;
}

.fc .fc-timegrid-now-indicator-arrow {
  border-color: $main-dark-color !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 10px;
}

.fc .fc-timegrid-now-indicator-line {
  border-color: $main-dark-color !important;
  border-width: 1px !important;
  border-radius: 10px;
}

.fc-timegrid-event .fc-event-time {
  font-size: 12px !important;
}

.fc-timegrid-event-short .fc-event-title {
  font-size: 16px !important;
}

.fc-timegrid-event-short .fc-event-main-frame {
  align-items: center;
}

.fc-v-event .fc-event-title {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.fc-v-event .fc-event-main-frame {
  margin-left: 10px !important;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
  border-radius: 10px;
  border: none;
}

.fc .fc-scrollgrid-liquid {
  border: none !important;
}

// SCROLL BAR

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


//CALENDAR 

.custom-today-day::after {
  visibility: hidden; /* hide small border under the text */
}

.custom-today-day {
  color: #e67e22 !important;
  border: 1px solid #e67e22 !important;
}