@import '../../index.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 450px;
    height: max-content;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;

    &:focus {
        outline: none;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        justify-content: center;
        gap: 10px;
        margin: 40px auto;
        width: 90%;

        .colors {
            margin: 15px auto;
            display: flex;
            justify-content: center;
            gap: 10px;

            .inputColor {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                justify-content: center;
                align-items: center;

                input[type='radio'] {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    outline: none;
                    -webkit-appearance: none;
                    border-radius: 50%;
                    cursor: pointer;
                    margin: 0;
                }

                input:checked[type='radio'] {
                    border: 2px solid $main-dark-color;
                    cursor: pointer;
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;

            .timeSlot {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .saveBtn {
                padding: 7px 40px;
            }
        }
    }

}

.inviteUser {
    display: flex;
    .userInput {
        width: 100%;
    }

    svg {
        color: $main-dark-color;
    }
}

.readOnlyInput {
    cursor: default;

    div, input, textarea, fieldset {
        cursor: default;
    }
}