@import '../../index.scss';

.modal {
    .heading {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            color: $main-dark-color;
            font-size: 22px;
            font-weight: 600;
        }

        svg {
            color: $main-dark-color;
        }
    }
}

form {
    .errmsg {
        margin-bottom: 10px;
    }
    .inputs {
        .form {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 20px;
            }

            label {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: $main-dark-color;
                margin-bottom: 8px;
            }

            a {
                text-align: right;
                font-size: 12px;
                line-height: 15px;
            }

            .field {
                position: relative;
                height: 50px;
                max-width: 340px;

                input {
                    width: 100%;
                    height: 100%;
                    padding-left: 40px;
                    border-radius: 10px;
                    border: 1px solid #C0C0C0;

                    &:focus {
                        border: 1px solid $main-dark-color;
                    }
                }
                svg {
                    position: absolute;
                    top: 25%;
                    left: 10px;
                    color: $main-dark-color;
                }
            }
        }
    }
    .button {
        max-width: 340px;
        height: 50px;
        text-align: center;

        button {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
        }
        span {
            color: #A9A9A9;
            font-size: 12px;
            line-height: 15px;
        }
        a {
            font-size: 12px;
            line-height: 15px;
        }
    }
}