@import '../Login/Login.module.scss';

.content_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        align-self: center;
    }

    p {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: $main-dark-color;
    }

    .updated {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            align-self: center;
        }

        p {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: $main-dark-color;
        }
        a {
            display: block;
        }
    }
}